.mypageInfo {
  height: 83vh;
}

.userInfo {
  /* border: solid  red 5px; */
  background-color: #e8e8e8;
  margin: 0px 60px 0px 60px;
  height: 200px;
  display: flex;
  align-items: center;
}

.asd {
  display: flex;
  /* border: solid greenyellow 5px; */
  margin-left: 40px;
  flex-direction: row;
}

.infoN {
  /* border: solid blue 5px; */
  margin-right: 40px;
}

.infoName {
  /* border: solid yellow 5px; */
  font-weight: bold;
  font-size: 30px;
}

.infoProfile {
  /* border: solid blueviolet 5px; */
  font-size: 30px;
}

.deleteBtn {
  /* border: solid rosybrown 5px; */
  border-radius: 40px;
  margin-left: 60px;
  text-align: center;
}

.editBtn {
  border-radius: 40px;
  margin-left: 60px;
  text-align: center
}

.favoriteInfo {
  height: 300px;
  border: solid green 5px;
  margin: 0px 60px 0px 60px;
  display:flex !important;
  overflow-x: scroll;
}

.favoriteImg {
  border: solid grey 5px;
  width :150px;
  height :150px;
  object-fit:fill;
  margin-left: 10px;
}

.deleteFavorite {
  border: solid rosybrown 5px;
  background-color: gray; 
  padding:0 0 2px 0;
  border-radius: 40%;
  width:20px;
  height:20px;
  float:right
}

.mainModal {
  position: fixed;
  top: 100px;
  left: 400px;
  right: 400px;
  bottom: 100px;
  background-color: grey;
}