#favorites-container{
    display:flex !important;
}

.favorite-item img {
    width :150px;
    height :150px;
    object-fit:fill;
    margin-left: 10px;
}

.favorite-item button {
  
   background-color: gray; 
   padding:0 0 2px 0;
   
   border-radius: 40%;
   width:20px;
   height:20px;
   float:right
}